---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <h1>About this...</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi veritatis
    architecto natus sequi cupiditate, rerum cumque assumenda quis dolore
    aliquid dolores eos tempore nesciunt quidem quo repudiandae dolorem omnis
    non.
  </p>
</Layout>
